-# This file is app/views/movies/search_tmdb.html.haml

%h1 The following moving containing '#{:search_terms}' were found on TMDb

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie[:title]
        %td= movie[:rating]
        %td= movie[:release_date]
        %td=check_box_tag "tmdb_movies[#{movie[:tmdb_id]}]", :id => "checkbox_#{movie[:tmdb_id]}"

        = submit_tag 'Add Selected Movies', :id => 'movies_button'
        = link_to 'Return to movies list', movies_path
